.dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  width: 190px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
}
.sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
  padding-left: 0;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar a:hover {
  background-color: #34495e;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
}
.sidebar hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .sidebar {
    width: 40px;
    position: absolute;
    z-index: 1;
    height: 100%;
    transition: width 0.3s;
    overflow: hidden;
  }
  .sidebar a span {
    display: none;
  }
  .sidebar:hover {
    width: 180px;
    border-right: 1px solid rgba(203, 219, 250, 0.6);
  }
  .sidebar:hover a span {
    display: inline;
  }
  .main-content {
    margin-left: 40px;
  }
}
